name_prefix             = "lumio-learning-hk-prod"
vpc_id                  = "vpc-0aff03d7739209bef"
db_name                 = "elearningsim"
username                = "elearning-sim-db-admin"
engine_version          = "17.8"
instance_class          = "db.t4g.micro"
backup_retention_period = 7
backup_window           = "18:00-19:00"
deletion_protection     = true

tags = {
  application = "lumio-learning"
  owner       = "platform"
}
