domain_name                  = "lumio-learning.com"
www_domain_name              = "www.lumio-learning.com"
hosted_zone_name             = "lumio-learning.com"
vpc_id                       = "vpc-0aff03d7739209bef"
subnet_ids                   = ["subnet-0983719c503d903ac", "subnet-0a2df0c9eaa4e4572"]
placeholder_target_group_port = 80
fixed_response_message_body  = "Lumio Learning is coming soon."

tags = {
  application = "lumio-learning"
  owner       = "platform"
}
